[submodule "submodules/libcanard"]
	path = submodules/libcanard
	url = https://github.com/UAVCAN/libcanard
[submodule "submodules/public_regulated_data_types"]
	path = submodules/public_regulated_data_types
	url = https://github.com/UAVCAN/public_regulated_data_types
[submodule "submodules/o1heap"]
	path = submodules/o1heap
	url = https://github.com/pavel-kirienko/o1heap
[submodule "submodules/libudpard"]
	path = submodules/libudpard
	url = https://github.com/OpenCyphal/libudpard
[submodule "submodules/cetl"]
	path = submodules/cetl
	url = https://github.com/OpenCyphal/CETL.git
	branch = sshirokov/string_view
[submodule "submodules/libcyphal"]
	path = submodules/libcyphal
	url = https://github.com/OpenCyphal-Garage/libcyphal.git
