[submodule "submodules/libcanard"]
	path = submodules/libcanard
	url = https://github.com/UAVCAN/libcanard
	branch = v4
[submodule "submodules/o1heap"]
	path = submodules/o1heap
	url = https://github.com/pavel-kirienko/o1heap
[submodule "submodules/libudpard"]
	path = submodules/libudpard
	url = https://github.com/OpenCyphal/libudpard
	branch = v2
[submodule "submodules/cetl"]
	path = submodules/cetl
	url = https://github.com/OpenCyphal/CETL.git
[submodule "submodules/libcyphal"]
	path = submodules/libcyphal
	url = https://github.com/OpenCyphal-Garage/libcyphal.git
[submodule "submodules/nunavut"]
	path = submodules/nunavut
	url = https://github.com/OpenCyphal/nunavut.git
	branch = 3.0.preview
