*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/
cmake-build*/
build_vscode

# DSDL compilation outputs
.compiled/
.transpiled/

# IDE and tools
.gdbinit
**/.idea/*
!**/.idea/dictionaries
!**/.idea/dictionaries/*

